@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== Slider ===-->
<div class="ms-layers-template">
    <!-- masterslider -->
    <div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
        <div class="ms-slide" style="z-index: 10">
            <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img/bg/img2.jpg" alt="">
            <div class="ms-layer ms-promo-info color-light" style="left:15px; top:160px"
                 data-effect="bottom(40)"
                 data-duration="2000"
                 data-delay="700"
                 data-ease="easeOutExpo">ยกระดับสถานภาพสตรี</div>
            <div class="ms-layer ms-promo-info ms-promo-info-in color-light" style="left:15px; top:210px"
                 data-effect="bottom(40)"
                 data-duration="2000"
                 data-delay="1000"
                 data-ease="easeOutExpo"><span class="color-green">สร้าง</span>ครอบครัวเข้มแข็ง</div>
            <div class="ms-layer ms-promo-sub color-light" style="left:15px; top:310px"
                 data-effect="bottom(40)"
                 data-duration="2000"
                 data-delay="1300"
                 data-ease="easeOutExpo">บนพื้นฐานของสังคมแห่งสิทธิ โอกาส และความเสมอภาค<br>ลดการเลือกปฏิบัติระหว่างเพศ</div>
        </div>
        <div class="ms-slide" style="z-index: 13">
            <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img/bg/img4.jpg" alt="">
            <img class="ms-layer" src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img/mockup/hand-black-iphone-l.png" alt=""
                 style="bottom:-10px; left:-40px; width:400px; height: auto;"
                 data-effect="bottom(100)"
                 data-duration="2000"
                 data-ease="easeOutExpo"
                 data-type="image" />
            <h3 class="ms-layer ms-promo-info-in color-light" style="left:640px; top:170px;"
                data-effect="right(40)"
                data-duration="2300"
                data-delay="1300"
                data-ease="easeOutExpo">
                MOST
            </h3>
            <h3 class="ms-layer ms-promo-info-in color-darker" style="left:565px; top:230px;color:#ffffff;"
                data-effect="left(40)"
                data-duration="2300"
                data-delay="1400"
                data-ease="easeOutBack">
                INCREDIBLE
            </h3>
            <h3 class="ms-layer ms-promo-info-in color-darker" style="left:520px; top:290px;color:#ffffff;"
                data-effect="left(40)"
                data-duration="2300"
                data-delay="1400"
                data-ease="easeOutBack">
                NEW <span class="color-light">FEATURES</span>
            </h3>
            <a class="ms-layer btn-u" style="left:450px; top:370px" href="#"
               data-effect="bottom(40)"
               data-duration="2000"
               data-delay="1300"
               data-ease="easeOutExpo">LEARN MORE</a>
            <a class="ms-layer btn-u btn-u-dark" style="left:580px; top:370px" href="#"
               data-effect="bottom(40)"
               data-duration="2000"
               data-delay="1300"
               data-ease="easeOutExpo">DOWNLOAD NOW</a>
        </div>
        <div class="ms-slide" style="z-index: 12">
            <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img/bg/img3.jpg" alt="">
            <div class="ms-layer video-box" style="bottom:125px; right:15px; width:650px; height:370px;"
                 data-type="video"
                 data-effect="rotate3dright(0,30,0,100,r)"
                 data-duration="1500"
                 data-ease="easeOutQuad">
                <img class="ms-img-bordered" src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img/main/img20.jpg" alt="">
                <iframe src="http://player.vimeo.com/video/70528799" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen> </iframe>
            </div>
            <h3 class="ms-layer ms-promo-info color-light" style="left:10px; top:170px"
                data-effect="bottom(20)"
                data-duration="2300"
                data-delay="2300"
                data-ease="easeOutExpo">
                AMAZING
            </h3>
            <h3 class="ms-layer ms-promo-info-in color-light" style="left:10px; top:245px"
                data-effect="left(100)"
                data-duration="3300"
                data-delay="1900"
                data-ease="easeOutExpo">
                <span class="color-green">FEATURES</span>
            </h3>
            <h3 class="ms-layer normal-title color-light" style="left:10px; top:312px"
                data-effect="bottom(20)"
                data-duration="2300"
                data-delay="2000"
                data-ease="easeOutExpo">
                UNIFY BOOTSTRAP TEMPLATE
            </h3>
            <p class="ms-layer ms-promo-sub ms-promo-sub-in color-light" style="left:10px; top:360px"
               data-effect="right(40)"
               data-duration="2300"
               data-delay="2300"
               data-ease="easeOutExpo">YOUTUBE, VIMEO AND CUSTOM<br>IFRAME SUPPORTED</p>
        </div>
    </div>
    <!-- end of masterslider -->
</div>
<!--=== End Slider ===-->


<div class="search-block-v2" style="background-color:#c11868;padding-bottom:20px;padding-top:20px;">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
              <input type="text" class="form-control" id="customSearchText" autocomplete="off" placeholder="ค้นหา">
                <span class="input-group-btn">
                    <input type="button" class="btn-u btn-u-green" id="customSearch" value="ค้นหา" data-toggle="modal" data-target=".bs-example-modal-lg">
                </span>
            </div>
        </div>
    </div>
</div>
<!---- Results Searce From Google Custom Searce -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myLargeModalLabel2" class="modal-title">Results Searce</h4>
            </div>
            <div class="modal-body">
                <gcse:searchresults-only gname="searchOnlyCSE"></gcse:searchresults-only>
            </div>
        </div>
    </div>
</div>
<!-------------------->


<!----- เรื่องเด่นประเด็นร้อน ----->
<div style="background:#f7f7f7;">
    <div class="container overflow-h">
        <div class="row margin-top-20" style="background-color:white;margin-bottom:50px;">
            <div class="col-md-6 shadow-wrapper">
                <div class="headline"><h2><span class="glyphicon glyphicon-globe"></span> เรื่องเด่นประเด็นร้อน</h2></div>
                <div class="row margin-bottom-20">
                    <div class="blog-img">
                        <div class="carousel slide carousel-v1" id="myCarousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p>
                                        <img class="img-responsive" src="/assets/img/main/a.jpg" width="100%" alt="">
                                    </p>
                                    <div class="carousel-caption">
                                        <p class="text-left">
                                            เช้าวันนี้ (พ.๘ มิ.ย. ๕๙) เวลา ๑๐.๓๐ น.ณ ห้องแคทลียา ๒ ชั้น ๓
                                            เช้าวันนี้ (พ.๘ มิ.ย. ๕๙) เวลา ๑๐.๓๐ น.ณ ห้องแคทลียา ๒ ชั้น ๓  เช้าวันนี้ (พ.๘ มิ.ย. ๕๙) เวลา ๑๐.๓๐ น.ณ ห้องแคทลียา ๒ ชั้น ๓
                                            โรงแรมแอมบาสเดอร์ สุขุมวิท กรุงเทพฯ พลตำรวจเอก อดุลย์ แสงสิงแก้ว
                                            <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/assets/img/main/b.jpg" width="100%" alt="">
                                    <div class="carousel-caption">
                                        <p class="text-left">
                                            วานนี้ (6 ม.ย.59) เวลา 09.00 น. พลเอก ประยุทธ์ จันทร์โอชาณ
                                            ตึกสันติไมตรี ทำเนียบรัฐบาล นายกรัฐมนตรี เป็นประธานเปิดงานวันต่อต้านการค้ามนุษย์
                                            ประจำปี 2559 <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="assets/img/main/c.jpg" width="100%" alt="">
                                    <div class="carousel-caption">
                                        <p class="text-left">
                                            บ่ายวันนี้ (พ.1 มิ.ย. 59) เวลา 14.30 น. อธิบดีกรมกิจการสตรีและสถาบันครอบครัว
                                            (นายเลิศปัญญา บูรณบัณฑิต) ได้ประชุมหารือการเตรียมการจัดงาน CSR กับบริษัท P&G
                                            <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-arrow">
                                <a data-slide="prev" href="#myCarousel" class="left carousel-control"><i class="fa fa-angle-left"></i></a>
                                <a data-slide="next" href="#myCarousel" class="right carousel-control"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Popular Topics ---->
            <div class="col-md-6 col-sm-12">
                <div class="headline"><h2><span class="glyphicon glyphicon-volume-up"></span> ประกาศ</h2></div>
                <!-- Accordion v1 -->
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                    <span class="glyphicon glyphicon-volume-up"></span> สรุปจัดซื้อจัดจ้างประจำเดือนตุลาคม
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse in">
                            <div class="panel-body">
                                สรุปผลการจัดซื้อจัดจ้างประจำเดือนตุลาคม 2557 - กันยายน 2558
                                วันที่ประกาศ : 6 มิ.ย. 2559...<a href="#">อ่านต่อ</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                    <span class="glyphicon glyphicon-volume-up"></span> ราคากลางงานจ้างจัดงานรณรงค์
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                ราคากลางงานพิมพ์รายงาน...
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                    <span class="glyphicon glyphicon-volume-up"></span>  ประกาศผู้ชนะงานจัดซื้อหมึก
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Three" class="panel-collapse collapse">
                            <div class="panel-body">
                                h nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                    <span class="glyphicon glyphicon-volume-up"></span>   ราคากลางงานจ้างทำวีดิทัศน์เพื่อ
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Four" class="panel-collapse collapse">
                            <div class="panel-body">
                                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-5">
                                    <span class="glyphicon glyphicon-volume-up"></span> ประกาศผู้ชนะงานจัดซื้อหมึก
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-5">
                                    <span class="glyphicon glyphicon-volume-up"></span> ราคากลางงานจ้างทำวีดิทัศน์
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success pull-right full-width" style="border-color:#cf0077; background-color:#cf0077; margin-top:-10px;" type="button"><i class="fa fa-mail-forward"></i> ดูประกาศทั้งหมด</button>
                <!-- End Accordion v1 -->
            </div>
        </div>
    </div>
</div>

    <!----- ข่าวประชาสัมพันธ์ ----->
    <div class="container" style="margin-top:40px;">
        <div class="row news-v2">
            <div class="shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <div class="headline"><h2><span aria-hidden="true" class="icon-volume-2"></span> ข่าวประชาสัมพันธ์</h2></div>
                    <div class="row margin-bottom-20">
                        <div class="col-md-3 sm-margin-bottom-30">
                            <div class="news-v2-badge">
                                <img class="img-responsive" src="assets/img/main/a.jpg" alt="">
                            </div>
                            <div class="news-v2-desc bg-color-light">
                                <h3><a href="#">พรบ.ความเท่าเทียมระหว่างเพศ</a></h3>
                                <small>วันที่: @DateTime.Now.ToString("yyyy/MM/dd")</small>
                                <p>
                                    หลักเกณฑ์ อัตราค่าใช้จ่าย และแนวทาง การพิจารณางบประมาณรายจ่ายประจำปี...
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 sm-margin-bottom-30">
                            <div class="news-v2-badge">
                                <img class="img-responsive" src="assets/img/main/b.jpg" alt="">
                            </div>
                            <div class="news-v2-desc bg-color-light">
                                <h3><a href="#">ประกาศ สค.</a></h3>
                                <small>วันที่: @DateTime.Now.ToString("yyyy/MM/dd")</small>
                                <p>
                                    เรื่อง รายชื่อผู้ผ่านการเลือกสรรเพื่อจัดจ้างเป็นพนักงานราชการทั่วไป (ส่วนภูมิภาค)...
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 sm-margin-bottom-30">
                            <div class="news-v2-badge">
                                <img class="img-responsive" src="assets/img/main/c.jpg" alt="">
                            </div>
                            <div class="news-v2-desc bg-color-light">
                                <h3><a href="#">ศูนย์ลำปางลงพื้นที่โครงการ </a></h3>
                                <small>วันที่: @DateTime.Now.ToString("yyyy/MM/dd")</small>
                                <p>
                                    "เติมใจสู้ภัยแล้ง ห่างไกลภัยค้ามนุษย์ ประจำปี 2559" ...
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 sm-margin-bottom-30">
                            <div class="news-v2-badge">
                                <img class="img-responsive" src="assets/img/main/d.jpg" alt="">
                            </div>
                            <div class="news-v2-desc bg-color-light">
                                <h3><a href="#">สค. ขยายเวลาการเปิดรับสมัคร</a></h3>
                                <small> วันที่:@DateTime.Now.ToString("yyyy/MM/dd")</small>
                                <p>
                                    สค. ขยายเวลาการเปิดรับสมัครผลงานเข้าประกวดผลงานวิจัยและวิทยานิพนธ์ดีเด่นด้านครอบครัว ประจำปี 2559...
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- end --->    


    <!-- ประกาศ -->
    <div class="container">
        <div class="row">
            <!-- Orange Panel -->
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-volume-up"></span> ประกาศ</h3>
                </div>
                <div class="panel-body">
                    <!-- Tab v1 -->
                    <div class="col-md-9">
                        <div class="tab-v1">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-cc-visa"></i> จัดซื้อจัดจ้าง</a></li>
                                <li><a href="#announce" data-toggle="tab"><i class="fa fa-google-wallet"></i> ประกาศราคากลาง</a></li>
                                <li><a href="#conclude" data-toggle="tab"><i class="fa fa-hand-paper-o"></i> สรุปผลการจัดซื้อจัดจ้าง</a></li>
                                <li><a href="#job" data-toggle="tab"><i class="fa fa-users"></i> รับสมัครงาน</a><li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <a href="javascript:viod(0)"><i class="fa fa-sticky-note-o"></i> ขอบเขตการสัมมนาเชิงปฏิบัติการ พลังบวกสาม ภาครัฐ สื่อและประชาสัมคม เพื่อสตรีและครอบครัว กรมกิจการสตรีและสถาบันครอบครัว</a><br>
                                    <a href="javascript:viod(0)"><i class="fa fa-sticky-note-o"></i> เอกสารสอบราคาจ้าง เลขที่ 2/2559 เรื่อง สอบราคาจ้างจัดกิจกรรมสัมมนาเชิงปฏิบัติการ พลังบวกสาม ภาครัฐ สื่อและประชาสัมคม เพื่อสตรีและครอบครัว ประจำปี 2559</a><br>
                                    <a href="javascript:viod(0)"><i class="fa fa-sticky-note-o"></i> ประกาศ เรื่อง สอบราคาจ้างจัดกิจกรรมสัมมนาเชิงปฏิบัติการ พลังบวกสาม ภาครัฐ สื่อและประชาสัมคม เพื่อสตรีและครอบครัว ประจำปี 2559</a><br>
                                    <a href="javascript:viod(0)"><i class="fa fa-sticky-note-o"></i> ประกาศผู้ชนะงานจัดซื้อหมึกและอุปกรณ์คอมพิวเตอร์ จำนวน 53 รายการวันที่ประกาศ : 22 เม.ย. 2559</a><br>
                                    <a href="javascript:viod(0)"><i class="fa fa-sticky-note-o"></i> ประกาศรายชื่อผู้ไม่มีผลประโยชน์ร่วมกัน (งานจัดซื้อหมึกและอุปกรณ์คอมพิวเตอร์ จำนวน 53 รายการ)วันที่ประกาศ : 12 เม.ย. 2559</a><br>
                                    <a href="javascript:viod(0)"><i class="fa fa-sticky-note-o"></i> ขอบเขตการสัมมนาเชิงปฏิบัติการ พลังบวกสาม ภาครัฐ สื่อและประชาสัมคม เพื่อสตรีและครอบครัว กรมกิจการสตรีและสถาบันครอบครัว</a><br>
                                    <button class="btn-u btn-u-sm btn-u-blue" type="button"><i class="fa fa-mail-forward"></i> ทั้งหมด</button>
                                </div>
                                <div class="tab-pane fade in" id="announce">
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">จ้างจัดพิมพ์เอกสารเผยแพร่่บทเรียนการดำเนินงานศูนย์พัฒนาครอบครัวในชุมชน เรื่อง คู่มือการเพิ่มประสิทธิภาพการทำางานศูนย์พัฒนาครอบครัวในชุมชมวันที่ประกาศ : 10 พ.ค. 2559	</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">จ้างปรับปรุงทาสีภายนอกอาคารกรมกิจการสตรีและสถาบันครอบครัววันที่ประกาศ : 4 พ.ค. 2559	</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">ราคากลางงานจัดซื้อวัสดุสิ้นเปลืองของเครื่องคอมพิวเตอร์และอุปกรณ์ต่อพ่วง จำนวน 4 รายการ ในวงเงิน 100,000 บาทวันที่ประกาศ : 3 มิ.ย. 2559	</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">ราคากลางงานจ้างพิมพ์หนังสือ เรื่องวันที่ประกาศ : 3 มิ.ย. 2559	</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">ราคากลางจ้างที่ปรึกษาดำเนินการสำรวจเจตคติของประชาชนด้านความเสมอภาคระหว่างเพศ ในวงเงิน 2,000,000 บาทวันที่ประกาศ : 31 มี.ค. 2559	</a><br>
                                    <button class="btn-u btn-u-sm btn-u-sea" type="button"><i class="fa fa-mail-forward"></i> ทั้งหมด</button>
                                </div>
                                <div class="tab-pane fade in" id="conclude">
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">ประกาศรายชื่อผู้ผ่านการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ ครั้งที่ 1 และมีสิทธิเข้ารับการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ ครั้งที่ 2 (ส่วนภูมิภาค) </a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">รายชื่อผู้มีสิทธิเข้ารับการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ และกำหนดวัน เวลา สถานที่ในการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ เพื่อเลือกสรรเป็นพนักงานราชการทั่วไป (ส่วนภูมิภาค)</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">รับสมัครบุคคลเพื่อสรรหาและเลือกสรรเป็นพนักงานราชการทั่วไป (ส่วนภูมิภาค)</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">ประกาศรายชื่อผู้ผ่านการเลือกสรรเพื่อจัดจ้างเป็นพนักงานราชการ</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">ประกาศรายชื่อผู้ผ่านการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ ครั้งที่ 1 และมีสิทธิเข้ารับการสัมภาษณ์วันที่ประกาศ : 3 เม.ย. 2558</a>	<br>
                                    <button class="btn-u btn-u-sm btn-u-red" type="button"><i class="fa fa-mail-forward"></i> ทั้งหมด</button>
                                 </div>
                                <div class="tab-pane fade in" id="job">
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">ประกาศรายชื่อผู้ผ่านการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ ครั้งที่ 1 และมีสิทธิเข้ารับการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ ครั้งที่ 2 (ส่วนภูมิภาค) </a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">รายชื่อผู้มีสิทธิเข้ารับการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ และกำหนดวัน เวลา สถานที่ในการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ เพื่อเลือกสรรเป็นพนักงานราชการทั่วไป (ส่วนภูมิภาค)</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">รับสมัครบุคคลเพื่อสรรหาและเลือกสรรเป็นพนักงานราชการทั่วไป (ส่วนภูมิภาค)</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">ประกาศรายชื่อผู้ผ่านการเลือกสรรเพื่อจัดจ้างเป็นพนักงานราชการ</a><br>
                                    <i class="fa fa-sticky-note-o"></i> <a href="javascript:viod(0)">ประกาศรายชื่อผู้ผ่านการประเมินความรู้ความสามารถ ทักษะ และสมรรถนะ ครั้งที่ 1 และมีสิทธิเข้ารับการสัมภาษณ์วันที่ประกาศ : 3 เม.ย. 2558</a>	<br>
                                    <button class="btn-u btn-u-sm btn-u-sea" type="button"><i class="fa fa-mail-forward"></i> ทั้งหมด</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12">
                        <!-- Badges With Navigation  -->
                            <ul class="nav nav-pills nav-stacked" style="max-width: 260px;background-color:aliceblue;">
                                <li class="active"><a href="#">อื่นๆ</a></li>
                                <li><a href="#"><span class="badge pull-right rounded-2x">37</span><i class="fa  fa-commenting"></i> ร้องทุกข์ร้องเรียน</a></li>
                                <li><a href="#"><span class="badge pull-right rounded">3</span><i class="fa  fa-commenting"></i> ช่วยเหลือ</a></li>
                                <li><a href="#"><span class="badge pull-right">37</span><i class="fa  fa-commenting"></i> ถาม-ตอบ</a></li>
                                <li><a href="#"><span class="badge pull-right">37</span><i class="fa  fa-commenting"></i> ข้อเสนอแนะ</a></li>
                            </ul>
                        <!-- End Badges With Navigation  -->
                    </div>
                </div>
            </div>
            <!-- End Orange Panel -->
        </div>
    </div>    
    <!-- end  -->

    <!-- clip video -->
    <div class="bg-color" style="background:#cf0077;">
        <div class="container content-md margin-bottom-20" style="padding-top:10px;">
            <div class="row">
                <!-- Main Content -->
                <div class="col-md-12">
                    <!-- Tab v4 -->
                    <div class="tab-v4">
                        <!-- Tab Heading -->
                        <div class="headline" style="margin-bottom:-10px;">
                            <h2 style="color:white;"><span aria-hidden="true" class="icon-social-youtube"></span> คลิปวิดีโอ</h2>
                        </div>
                        <!-- End Latest News -->
                        <!-- Tab Content -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-v4-a1">
                                <div class="row" style="background-color:white;">
                                    <br>
                                    <div class="col-sm-7">
                                        <!-- Blog Grid -->
                                        <div class="blog-grid sm-margin-bottom-40" style="background-color:#000;">
                                            <div class="video-container" id="video-container"></div>
                                            <div style="padding:10px;background-color:#f7f7f7;">
                                                <h3 style="color:black;"><a href="blog_single.html" style="color:black;">กรมกิจการสตรีและสถาบันครอบครัว</a></h3>
                                                <ul class="blog-grid-info">
                                                    <li style="color:black;">By admin</li>
                                                    <li style="color:black;">@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li style="color:black;"><a href="#" style="color:white;"><i class="fa fa-comments"></i>0</a></li>
                                                </ul>
                                                <p style="color:black;">
                                                    วันนี้ (พฤ.9 มิ.ย. 59) เวลา 06.30 น.ณ พระบรมราชานุสาวรีย์ ภายในพระวิหารหลวงวัดสุทัศนเทพวราราม ถนนบำรุงเมือง เขตพระนคร กรุงเทพมหานคร เลขานุการกรม สค. (นางพัทธ์วิรา สุวรรณ) เป็นผู้แทนกรม สค.
                                                </p>
                                            </div>
                                        </div><br>
                                        <!-- End Blog Grid -->
                                    </div>
                                    <div class="col-sm-5">
                                        <!-- Blog Thumb -->
                                        <div class="blog-thumb margin-bottom-20" style="padding:10px; background-color:#f7f7f7;">
                                            <div class="blog-thumb-hover">
                                                <img src="~/assets/img/sk5.jpg" alt="">
                                            </div>
                                            <div class="blog-thumb-desc">
                                                <!--- <a class="cbp-lightbox" data-title="Presentation" href="https://www.youtube.com/watch?v=t-qA18UtdxE&au" data-cbp-lightbox="presentation-video">-->
                                                <a href="javascript:void(0)" onclick="FnPlayVideo('https://www.youtube.com/embed/NtlKH0nJXAk?rel=0&amp;showinfo=0')">
                                                    <span aria-hidden="true" class="icon-social-youtube"></span> ประชาสัมพันธ์ กรมกิจการสตรีและสถาบันครอบครัว กรมกิจการสตรีและสถาบันครอบครัว
                                                </a>
                                                <ul class="blog-thumb-info">
                                                    <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li><a href="#"><i class="fa fa-comments"></i> Admin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end Blog Thumb -->
                                        <!-- Blog Thumb -->
                                        <div class="blog-thumb margin-bottom-20" style="padding:10px; background-color:#f7f7f7;">
                                            <div class="blog-thumb-hover">
                                                <img src="~/assets/img/sk1.jpg" alt="">
                                            </div>
                                            <div class="blog-thumb-desc">
                                                <a href="Javascript:void(0)" onclick="FnPlayVideo('https://www.youtube.com/embed/P37DcLiX5Mg?rel=0&amp;showinfo=0')">
                                                    <span aria-hidden="true" class="icon-social-youtube"></span> วานนี้ (6 ม.ย.59) เวลา 09.00 น. พลเอก ประยุทธ์ จันทร์โอชา ณ ตึกสันติไมตรี ทำเนียบรัฐบาล นายกรัฐมนตรี
                                                </a>
                                                <ul class="blog-thumb-info">
                                                    <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li><a href="#"><i class="fa fa-comments"></i> Admin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end Blog Thumb -->
                                        <!-- Blog Thumb -->
                                        <div class="blog-thumb margin-bottom-20" style="padding:10px; background-color:#f7f7f7;">
                                            <div class="blog-thumb-hover">
                                                <img src="~/assets/img/sk2.jpg" alt="">
                                            </div>
                                            <div class="blog-thumb-desc">
                                                <a href="Javascript:void(0)" onclick="FnPlayVideo('https://www.youtube.com/embed/1S6NGvcM9M0?rel=0&amp;showinfo=0')">
                                                    <span aria-hidden="true" class="icon-social-youtube"></span> กรมกิจการสตรีและสถาบันครอบครัว กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ ขอเชิญชวนนิสิต/นักศึกษา/ช่างภาพสมัครเล่น
                                                </a>
                                                <ul class="blog-thumb-info">
                                                    <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li><a href="#"><i class="fa fa-comments"></i> Admin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end Blog Thumb -->
                                        <!-- Blog Thumb -->
                                        <div class="blog-thumb margin-bottom-20" style="padding:10px; background-color:#f7f7f7;">
                                            <div class="blog-thumb-hover">
                                                <img src="~/assets/img/sk3.jpg" alt="">
                                            </div>
                                            <div class="blog-thumb-desc">
                                                <a href="Javascript:void(0)" onclick="FnPlayVideo('https://www.youtube.com/embed/b_jDY36BFxs?rel=0&amp;showinfo=0')">
                                                    <span aria-hidden="true" class="icon-social-youtube"></span> บ่ายวันนี้ (พ.1 มิ.ย. 59) เวลา 14.30 น. อธิบดีกรมกิจการสตรีและสถาบันครอบครัว (นายเลิศปัญญา บูรณบัณฑิต)
                                                </a>
                                                <ul class="blog-thumb-info">
                                                    <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li><a href="#"><i class="fa fa-comments"></i> Admin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end Blog Thumb -->
                                        <a class="btn rounded btn-success" href="@Url.Content("~/Media/media")" style="margin-bottom:20px;">
                                            <span aria-hidden="true" class="icon-action-redo"></span> ดูคลิปวิดีโอทั้งหมด
                                        </a>
                                        <br>
                                    </div>
                                </div><!--/end row-->
                            </div>
                        </div>
                        <!-- End Tab Content -->
                    </div>
                    <!-- End Tab v4 -->
                </div>
                <!-- End Main Content -->
            </div>
        </div>
    </div>
    <!-- end  clip video  -->

    <!-- interest book -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i>หนังสือน่าอ่าน</h3>
                    </div>
                    <div class="panel-body">
                        <div class="cube-portfolio">
                            <div id="grid-container" class="cbp-l-grid-agency">
                                <div class="cbp-item">
                                    <div class="cbp-caption margin-bottom-20">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/assets/img/book/book1.png" alt="หนังสือน่าอ่าน">
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <ul class="link-captions no-bottom-space">
                                                        <li>
                                                            <a href="~/assets/img/book/book1.png" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cbp-title-dark">
                                        <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว</a></div>
                                        <div class="cbp-l-grid-agency-desc">ปีที่ 12 ฉบับที่ 2 มิถุนายน - กันยายน 2558</div>
                                    </div>
                                </div>
                                <div class="cbp-item">
                                    <div class="cbp-caption margin-bottom-20">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/assets/img/book/book2.jpg" alt="">
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <ul class="link-captions no-bottom-space">
                                                        <li><a href="~/assets/img/book/book2.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cbp-title-dark">
                                        <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว</a></div>
                                        <div class="cbp-l-grid-agency-desc"> ปีที่ 12 ฉบับที่ 1 มกราคม 2558 - พฤษภาคม 2558</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="panel panel-sea">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> รูปกิจกรรม</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline blog-photostream margin-bottom-50">
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a href="~/assets/img/main/img4.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
                                    <span><img class="img-responsive" src="~/assets/img/main/img4.jpg" alt=""></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End book -->

    <!---- สำรวจความคิดเห็น ---->
    <div class="container">
        <div class="row margin-bottom-30">
            <div class="col-md-6">
                <!-- Yellow Panel -->
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-signal"></i> สำรวจความคิดเห็น</h3>
                    </div>
                    <div class="panel-body">
                        <h5>ความพึงพอใจในการใช้บริการบนเว็บไซต์กรมกิจการสตรีและสถาบันครอบครัว</h5>
                        <form asp-action="" asp-controller="" method="post">
                            <p class="padding-left-60">
                                <input type="radio" name="ratio" value="5"> มากที่สุด <br />
                                <input type="radio" name="ratio" value="4"> มาก <br />
                                <input type="radio" name="ratio" value="3"> ปานกลาง <br />
                                <input type="radio" name="ratio" value="2"> น้อย <br />
                                <input type="radio" name="ratio" value="1"> น้อยที่สุด <br />
                            <p class="margin-bottom-25">
                                <input type="button" class="btn btn-success" value="โหวต">
                            </p>   
                        </form>
                    </div>
                </div>
                <!-- End Yellow Panel -->
            </div>
            <div class="col-md-6">
                <!-- Yellow Panel -->
                <div class="panel panel-u">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-align-left"></i> ผลโหวตแบบสำรวจความคิดเห็น</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            80% มากที่สุด
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            60% มาก
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            50% ปานกลาง
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-light" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            40% น้อย
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            30% น้อยที่สุด
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <!-- End Yellow Panel -->
            </div>
        </div>
    </div>
    <!---------------------->
    
    <!--- View page ---->
    <div class="container">
        <div class="row margin-bottom-10">
            <div class="col-sm-4 sm-margin-bottom-20">
                <div class="service-block-v3 service-block-u">
                    <i class="icon-users"></i>
                    <span class="service-heading">เข้าชมเว็บโดยรวม</span>
                    <span class="counter">52,147</span>
                    <div class="clearfix margin-bottom-10"></div>
                    <div class="row margin-bottom-20">
                        <div class="col-xs-6 service-in">
                            <small>วันนี้</small>
                            <h4 class="counter">85</h4>
                        </div>
                        <div class="col-xs-6 text-right service-in">
                            <small>เดือนนี้</small>
                            <h4 class="counter">6,048</h4>
                        </div>
                    </div>
                    <div class="statistics">
                        <h3 class="heading-xs">Statistics in Progress Bar <span class="pull-right">67%</span></h3>
                        <div class="progress progress-u progress-xxs">
                            <div style="width: 67%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" class="progress-bar progress-bar-light">
                            </div>
                        </div>
                        <small>11% less <strong>than last month</strong></small>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="service-block-v3 service-block-blue">
                    <i class="icon-screen-desktop"></i>
                    <span class="service-heading">ดูหน้าเว็บโดยรวม</span>
                    <span class="counter">324,056</span>
                    <div class="clearfix margin-bottom-10"></div>
                    <div class="row margin-bottom-20">
                        <div class="col-xs-6 service-in">
                            <small>อาทิตย์ที่แล้ว</small>
                            <h4 class="counter">26,904</h4>
                        </div>
                        <div class="col-xs-6 text-right service-in">
                            <small>เดือนที่แล้ว</small>
                            <h4 class="counter">124,766</h4>
                        </div>
                    </div>
                    <div class="statistics">
                        <h3 class="heading-xs">Statistics in Progress Bar <span class="pull-right">89%</span></h3>
                        <div class="progress progress-u progress-xxs">
                            <div style="width: 89%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="89" role="progressbar" class="progress-bar progress-bar-light">
                            </div>
                        </div>
                        <small>15% higher <strong>than last month</strong></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block-v3 service-block-green">
                    <i class="icon-screen-desktop"></i>
                    <span class="service-heading">สรุปทั้งหมดของปีนี้</span>
                    <span class="counter">324,056</span>
                    <div class="clearfix margin-bottom-10"></div>
                    <div class="row margin-bottom-20">
                        <div class="col-xs-6 service-in">
                            <small>เข้าชมเว็บโดยรวม</small>
                            <h4 class="counter">26,904</h4>
                        </div>
                        <div class="col-xs-6 text-right service-in">
                            <small>ดูหน้าเว็บโดยรวม</small>
                            <h4 class="counter">124,766</h4>
                        </div>
                    </div>
                    <div class="statistics">
                        <h3 class="heading-xs">Statistics in Progress Bar <span class="pull-right">89%</span></h3>
                        <div class="progress progress-u progress-xxs">
                            <div style="width: 89%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="89" role="progressbar" class="progress-bar progress-bar-light">
                            </div>
                        </div>
                        <small>15% higher <strong>than last month</strong></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Stat -->

    <div class="container" style="margin-top:40px;">
        <div class="row">
            <div class="col-md-6">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-layers"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Link ภายใน</h3>
                            <ul>
                                <li><a href="https://login.mail.go.th/Li/index.php" target="_blank"> E-Mail .dwf</a></li>
                                <li><a href="@Url.Content("Home/Intralogin")" target="_blank"> Intranet</a></li>
                                <li><a href="http://www.yingthai.net/" target="_blank"> ศูนย์ช่วยเหลือหญิงไทยในต่างประเทศ</a></li>
                                <li><a href="http://www.dwf.go.th/km/site/index.php" target="_blank"> ศูนย์บริการความรู้ กรมกิจการสตรีและสถาบันครอบครัว</a></li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-boxes-v5 md-margin-bottom-30">
                    <i class="rounded-x icon-settings"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">เว็บไซต์ที่น่าสนใจ</h3>
                        <ul>
                            <li><a href="http://www.m-society.go.th/" target="_blank"> กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</a></li>
                            <li><a href="http://www.dcy.go.th/" target="_blank"> กรมกิจการเด็กและเยาวชน (ดย)</a></li>
                            <li><a href="http://www.dep.go.th/" target="_blank"> กรมส่งเสริมและพัฒนาคุณภาพชีวิตคนพิการ(พก)</a></li>
                            <li><a href="http://www.dep.go.th/" target="_blank"> กรมกิจการผู้สูงอายุ(ผส)</a></li>
                            <li><a href="http://www.gender.go.th/" target="_blank"> ศูนร์ข้อมูลกลางด้านการส่งเสริมความเสมอภาคหญิงชาย</a></li>
                            <li><a href="http://www.violence.in.th/publicweb/" target="_blank"> ศูนร์ข้อมูลความรุนแรงต่อเด็กสตรีและครอบครัว</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- ประกาศต่าง สร้างเป็น modal -->
<div class="modal fade announce" tabindex="-1" id="announce" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myLargeModalLabel2" class="modal-title"><span class="glyphicon glyphicon-volume-up"></span> ขอพระองค์ทรงพระเจริญ</h4>
            </div>
            <div class="modal-body">
                @{
                    int displayStyle = 1;
                    if (displayStyle == 1)
                    {
                        <img src="~/assets/img/0clip_4.jpg" width="100%" alt="" title="">
                    }
                    else
                    {
                        <iframe width="100%" height="460" src="https://www.youtube.com/embed/Bs9sFgfL79Y?rel=0&amp;showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
                    }
                }
                
                
                <button class="btn rounded btn-info margin-top-20" type="button">ดูรายละเอียด</button>
            </div>
        </div>
    </div>
</div>
<!-------------------->
    @{
        int activeModal = 0;
     }
    
    @section Scripts{
        <script type="text/javascript" src="~/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script>
            /*
            * searce in web 
            * searce all
            */

            window.__gcse = {
                callback: googleCSELoaded
            };

            function googleCSELoaded() {
                // The hook in question.
                $("#customSearch").click(function () {
                    var searchText = $("#customSearchText").val();
                    console.log(searchText);
                    var element = google.search.cse.element.getElement('searchOnlyCSE');
                    element.execute(searchText);
                })
            }

            (function () {
                var cx = '010607368559754793872:hhlrg2fxh4q';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();

            /* set video player */
            $(document).ready(function () {
                /* active modal */
                var activeModal = @activeModal; // Code asp.net mvc
                if (activeModal == 1) {
                    $('.modal.fade.announce').modal();
                }
                /* default video */
                var urlYoutube = "https://www.youtube.com/embed/Bs9sFgfL79Y?rel=0&amp;showinfo=0";
                var video = '<iframe width="653" height="332" src='+urlYoutube+'frameborder="0" allowfullscreen></iframe>';
                $("#video-container").html(video);
            });


            function FnPlayVideo(link) {
                if (link == "") {
                    link = "https://www.youtube.com/embed/Bs9sFgfL79Y?rel=0&amp;showinfo=0";
                }
                var url = '@Url.Content("Home/AjaxVideo")';
                $.get(url, { "link": link }, function (rs) {
                    $("#video-container").html(rs);
                });
            }       
        </script>
    }


