@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}


<!----- เรื่องเด่นประเด็นร้อน ----->
 <div class="container overflow-h ">
     <div class="row margin-top-20">
         <div class="col-md-9 shadow-wrapper">
             <div class="headline"><h2><span class="glyphicon glyphicon-globe"></span> เรื่องเด่นประเด็นร้อน</h2></div>
             <div class="row margin-bottom-20">
                 <div class="col-md-3 col-sm-6">
                     <div class="thumbnails thumbnail-style thumbnail-kenburn">
                         <div class="thumbnail-img">
                             <div class="overflow-hidden">
                                 <img class="img-responsive" src="assets/img/main/a.jpg" alt="">
                             </div>
                         </div>
                         <div class="caption">
                             <h3><a class="hover-effect" href="portfolio_single_item.html">พรบ.ความเท่าเทียมระหว่างเพศ</a></h3>
                             <p>
                                 พม. เดินหน้าเผยแพร่ พรบ.ความเท่าเทียมระหว่างเพศ พ.ศ. 2558... 
                                 <a  href="#">อ่านต่อ</a>
                             </p>
                         </div>
                     </div>
                 </div>

                 <div class="col-md-3 col-sm-6">
                     <div class="thumbnails thumbnail-style thumbnail-kenburn">
                         <div class="thumbnail-img">
                             <div class="overflow-hidden">
                                 <img class="img-responsive" src="assets/img/main/b.jpg" alt="">
                             </div>
                            
                         </div>
                         <div class="caption">
                             <h3><a class="hover-effect" href="#">วันครอบครัว 2559</a></h3>
                             <p>ในเช้าวันนี้ (๘ เม.ย. ๕๙) เวลา ๐๙.๔๕  น. ที่ห้องแกรนด์ไดมอนด์บอลรูม... <a  href="#">อ่านต่อ</a></p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                     <div class="thumbnails thumbnail-style thumbnail-kenburn">
                         <div class="thumbnail-img">
                             <div class="overflow-hidden">
                                 <img class="img-responsive" src="assets/img/main/c.jpg" alt="">
                             </div>
                         </div>
                         <div class="caption">
                             <h3><a class="hover-effect" href="#">การจัดงานวันแห่งครอบครัว</a></h3>
                             <p>ในเช้าวันนี้ (๘ เม.ย. ๕๙) เวลา ๐๙.๔๕... <a href="#">อ่านต่อ</a> </p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                     <div class="thumbnails thumbnail-style thumbnail-kenburn">
                         <div class="thumbnail-img">
                             <div class="overflow-hidden">
                                 <img class="img-responsive" src="assets/img/main/d.jpg" alt="">
                             </div>
                            
                         </div>
                         <div class="caption">
                             <h3><a class="hover-effect" href="#">การจัดงานวันแห่งครอบครัว</a></h3>
                             <p>ในเช้าวันนี้ (๘ เม.ย. ๕๙) เวลา ๐๙.๔๕  น.... <a href="#">อ่านต่อ</a></p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Popular Topics -->
         <div class="col-md-3 col-sm-12">
             <div class="headline"><h2><span class="glyphicon glyphicon-volume-up"></span> ประกาศ</h2></div>
             <div class="row main-check">
                 <div class="col-xs-12 md-margin-bottom-20">
                     <!--- limit 12 --->
                     <ul class="list-unstyled check-style">
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางงานพิมพ์รายงาน</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางงานจ้างจัดงานรณรงค์</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศผู้ชนะงานจัดซื้อหมึก</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางงานจ้างทำวีดิทัศน์เพื่อ</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศผู้ชนะงานจัดซื้อหมึก</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศรายชื่อผู้ผ่านการ</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางการผลิตสื่อสิ่งพิมพ์</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศรายชื่อผู้ไม่มีผล</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศสอบราคาและเอกสาร</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางสอบราคาจัดซื้อหมึก</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศผู้ชนะงานจัดซื้อหมึก</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศรายชื่อผู้ผ่านการประ</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>  
</div>

<!-- clip video -->
<div class="container margin-bottom-40">
    <div class="row">
        <!-- Main Content -->
        <div class="col-md-12">
            <!-- Tab v4 -->
            <div class="tab-v4">
                <!-- Tab Heading -->
                <div class="headline"><h2><span aria-hidden="true" class="icon-social-youtube"></span> คลิปวิดีโอ</h2></div>
                <!-- End Latest News -->
                <!-- Tab Content -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-v4-a1">
                        <div class="row">
                            <div class="col-sm-7">
                                <!-- Blog Grid -->
                                <div class="blog-grid sm-margin-bottom-40">
                                    <div class="video-container" id="video-container"></div>
                                    <h3><a href="blog_single.html">กรมกิจการสตรีและสถาบันครอบครัว</a></h3>
                                    <ul class="blog-grid-info">
                                        <li>By bunchuai</li>
                                        <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                    </ul>
                                    <p>
                                        วันนี้ (พฤ.9 มิ.ย. 59) เวลา 06.30 น.ณ พระบรมราชานุสาวรีย์ ภายในพระวิหารหลวงวัดสุทัศนเทพวราราม ถนนบำรุงเมือง เขตพระนคร กรุงเทพมหานคร เลขานุการกรม สค. (นางพัทธ์วิรา สุวรรณ) เป็นผู้แทนกรม สค.
                                    </p>
                                    
                                </div>
                                <!-- End Blog Grid -->
                            </div>
                            <div class="col-sm-5">
                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="~/assets/img/sk5.jpg" alt="">
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3>
                                            <!--- <a class="cbp-lightbox" data-title="Presentation" href="https://www.youtube.com/watch?v=t-qA18UtdxE&autoplay=1" data-cbp-lightbox="presentation-video">-->
                                            <a href="Javascript:void(0)" onclick="FnPlayVideo('https://www.youtube.com/embed/NtlKH0nJXAk?rel=0&amp;showinfo=0&autoplay=1')">
                                                <span aria-hidden="true" class="icon-social-youtube"></span> ประชาสัมพันธ์ กรมกิจการสตรีและสถาบันครอบครัว กรมกิจการสตรีและสถาบันครอบครัว
                                            </a>
                                        </h3>
                                        <ul class="blog-thumb-info">
                                            <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end Blog Thumb -->
                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="~/assets/img/sk1.jpg" alt="">
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3>
                                            <a href="Javascript:void(0)"  onclick="FnPlayVideo('https://www.youtube.com/embed/P37DcLiX5Mg?rel=0&amp;showinfo=0&autoplay=1')">
                                                <span aria-hidden="true" class="icon-social-youtube"></span> วานนี้ (6 ม.ย.59) เวลา 09.00 น. พลเอก ประยุทธ์ จันทร์โอชา ณ ตึกสันติไมตรี ทำเนียบรัฐบาล นายกรัฐมนตรี
                                            </a>
                                        </h3>
                                        <ul class="blog-thumb-info">
                                            <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end Blog Thumb -->
                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="~/assets/img/sk2.jpg" alt="">
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3>
                                            <a class="cbp-lightbox" data-title="Presentation" href="https://www.youtube.com/watch?v=t-qA18UtdxE&autoplay=1" data-cbp-lightbox="presentation-video">
                                                <span aria-hidden="true" class="icon-social-youtube"></span> กรมกิจการสตรีและสถาบันครอบครัว กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ ขอเชิญชวนนิสิต/นักศึกษา/ช่างภาพสมัครเล่น
                                            </a>
                                        </h3>
                                        <ul class="blog-thumb-info">
                                            <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end Blog Thumb -->
                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="~/assets/img/sk3.jpg" alt="">
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3>
                                            <a class="cbp-lightbox" data-title="Presentation" href="https://www.youtube.com/watch?v=t-qA18UtdxE&autoplay=1" data-cbp-lightbox="presentation-video">
                                                <span aria-hidden="true" class="icon-social-youtube"></span> บ่ายวันนี้ (พ.1 มิ.ย. 59) เวลา 14.30 น. อธิบดีกรมกิจการสตรีและสถาบันครอบครัว (นายเลิศปัญญา บูรณบัณฑิต)
                                            </a>
                                        </h3>
                                        <ul class="blog-thumb-info">
                                            <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end Blog Thumb -->
                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="~/assets/img/sk4.jpg" alt="">
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3>
                                            <a class="cbp-lightbox" data-title="Presentation" href="https://www.youtube.com/watch?v=t-qA18UtdxE&autoplay=1" data-cbp-lightbox="presentation-video">
                                                <span aria-hidden="true" class="icon-social-youtube"></span> บ่ายวันนี้ (พ.1 มิ.ย. 59) เวลา 13.30 น. อธิบดีกรมกิจการสตรีและสถาบันครอบครัว (นายเลิศปัญญา บูรณบัณฑิต)
                                            </a>
                                        </h3>
                                        <ul class="blog-thumb-info">
                                            <li>@DateTime.Now.ToString("yyyy/MM/dd HH-mm-ss")</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end Blog Thumb -->
                                <a class="r-more" href="@Url.Content("~/Media/media")"><span aria-hidden="true" class="icon-action-redo"></span> ดูคลิปวิดีโอทั้งหมด</a>
                            </div>
                        </div><!--/end row-->
                    </div> 
                </div>
                <!-- End Tab Content -->
            </div>
            <!-- End Tab v4 -->
        </div>
        <!-- End Main Content -->
    </div>
</div>
<!-- end  clip video  -->

<!-- หนังสือน่าอ่าน -->
<div class="container margin-bottom-20">
    <div class="heading heading-v1 margin-bottom-40">
        <h2>หนังสือน่าอ่าน</h2>
        <div class="cube-portfolio">
            <div id="grid-container" class="cbp-l-grid-agency">
                <div class="cbp-item">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/assets/img/book/book1.png" alt="หนังสือน่าอ่าน">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li>
                                            <a href="~/assets/img/book/book1.png" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว</a></div>
                        <div class="cbp-l-grid-agency-desc">ปีที่ 12 ฉบับที่ 2 มิถุนายน - กันยายน 2558</div>
                    </div>
                </div>

                <div class="cbp-item">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/assets/img/book/book2.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="~/assets/img/book/book2.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว</a></div>
                        <div class="cbp-l-grid-agency-desc"> ปีที่ 12 ฉบับที่ 1 มกราคม 2558 - พฤษภาคม 2558</div>
                    </div>
                </div>

                <div class="cbp-item">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/assets/img/book/book3.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="~/assets/img/book/book3.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว</a></div>
                        <div class="cbp-l-grid-agency-desc"> ปีที่ 11 ฉบับที่ 2 เมษายน 2557 - กันยายน 2557</div>
                    </div>
                </div>

                <div class="cbp-item">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/assets/img/book/book1.png" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="~/assets/img/book/book1.png" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว </a></div>
                        <div class="cbp-l-grid-agency-desc">ปีที่ 12 ฉบับที่ 2 มิถุนายน - กันยายน 2558</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------>

<!----- ข่าวประชาสัมพันธ์ ----->
<div class="container">
    <div class="row">
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                <div class="headline"><h2><span aria-hidden="true" class="icon-volume-2"></span> ข่าวประชาสัมพันธ์</h2></div>
                <div class="row margin-bottom-20">
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img class="img-responsive" src="assets/img/main/a.jpg" alt="">
                                </div>
                            </div>
                            <div class="caption">
                                <h3><a class="hover-effect" href="#">พรบ.ความเท่าเทียมระหว่างเพศ</a></h3>
                                <p>หลักเกณฑ์ อัตราค่าใช้จ่าย และแนวทาง การพิจารณางบประมาณรายจ่ายประจำปี...<a href="">อ่านต่อ</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img class="img-responsive" src="assets/img/main/b.jpg" alt="">
                                </div>
                            </div>
                            <div class="caption">
                                <h3><a class="hover-effect" href="#">ประกาศกรมกิจการสตรีและสถาบันครอบครัว</a></h3>
                                <p>เรื่อง รายชื่อผู้ผ่านการเลือกสรรเพื่อจัดจ้างเป็นพนักงานราชการทั่วไป (ส่วนภูมิภาค)...<a href="">อ่านต่อ</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img class="img-responsive" src="assets/img/main/c.jpg" alt="">
                                </div>
                            </div>
                            <div class="caption">
                                <h3><a class="hover-effect" href="#">ศูนย์ลำปางลงพื้นที่โครงการ </a></h3>
                                <p>"เติมใจสู้ภัยแล้ง ห่างไกลภัยค้ามนุษย์ ประจำปี 2559" ...<a href="">อ่านต่อ</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img class="img-responsive" src="assets/img/main/d.jpg" alt="">
                                </div>
                            </div>
                            <div class="caption">
                                <h3><a class="hover-effect" href="#">สค. ขยายเวลาการเปิดรับสมัคร</a></h3>
                                <p>สค. ขยายเวลาการเปิดรับสมัครผลงานเข้าประกวดผลงานวิจัยและวิทยานิพนธ์ดีเด่นด้านครอบครัว ประจำปี 2559...<a href="">อ่านต่อ</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!----- ประกาศ ----->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-cogs service-icon"></i>
                <div class="desc">
                    <h4>พื้นที่เข้าร่วมโครงการตำบลเข้มแข็ง</h4>
                    <p>
                        ที่มา :
                        <a href="http://www.owf.go.th/tumbon/report.htm" title="เข้าร่วมโครงการตำบลเข้มแข็ง" target="_blank">
                            http://www.owf.go.th/tumbon/report.htm
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-cogs service-icon"></i>
                <div class="desc">
                    <h4>การพัฒนามนุษย์ด้านความเสมอภาคหญิงชายในระดับสากล</h4>
                    <p>
                        ที่มา :
                        <a href="http://www.gender.go.th/indicator/HdiGii/mainhdi.html" title="การพัฒนามนุษย์ด้านความเสมอภาคหญิงชายในระดับสากล" target="_blank">
                            http://www.gender.go.th/indicator/HdiGii/mainhdi.html
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-cogs service-icon"></i>
                <div class="desc">
                    <h4>สถานการณ์หญิงชายของประเทศไทย</h4>
                    <p>
                        ที่มา :
                        <a href="http://www.gender.go.th/template.php?vname=report/mainreport.html" title="สถานการณ์หญิงชายของประเทศไทย" target="_blank">
                            http://www.gender.go.th/template.php?vname=report/mainreport.html
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        /* set video player */
        $(document).ready(function () {
            /* default video */
            var video = '<iframe width="653" height="332" src="https://www.youtube.com/embed/t-qA18UtdxE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>';
            $("#video-container").html(video);
        });

        function FnPlayVideo(link) {
            var url = '@Url.Content("Home/AjaxVideo")';
            $.get(url , { "link": link }, function (rs) {
                    $("#video-container").html(rs);
            });
        }

    </script>
}  


