@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}


<!----- เรื่องเด่นประเด็นร้อน ----->
<div style="background:#f7f7f7;">
    <div class="container overflow-h">
        <div class="row margin-top-20" style="background-color:white;margin-bottom:50px;">
            <div class="col-md-6 shadow-wrapper">
                <div class="headline"><h2><span class="glyphicon glyphicon-globe"></span> เรื่องเด่นประเด็นร้อน</h2></div>
                <div class="row margin-bottom-20">
                    <div class="blog-img">
                        <div class="carousel slide carousel-v1" id="myCarousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p>
                                        <img class="img-responsive" src="/assets/img/main/a.jpg" width="100%" alt="">
                                    </p>
                                    <div class="carousel-caption">
                                        <p class="text-left">
                                            เช้าวันนี้ (พ.๘ มิ.ย. ๕๙) เวลา ๑๐.๓๐ น.ณ ห้องแคทลียา ๒ ชั้น ๓
                                            เช้าวันนี้ (พ.๘ มิ.ย. ๕๙) เวลา ๑๐.๓๐ น.ณ ห้องแคทลียา ๒ ชั้น ๓  เช้าวันนี้ (พ.๘ มิ.ย. ๕๙) เวลา ๑๐.๓๐ น.ณ ห้องแคทลียา ๒ ชั้น ๓
                                            โรงแรมแอมบาสเดอร์ สุขุมวิท กรุงเทพฯ พลตำรวจเอก อดุลย์ แสงสิงแก้ว
                                            <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh">อ่านต่อ</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/assets/img/main/b.jpg" width="100%" alt="">
                                    <div class="carousel-caption">
                                        <p class="text-left">
                                            วานนี้ (6 ม.ย.59) เวลา 09.00 น. พลเอก ประยุทธ์ จันทร์โอชาณ
                                            ตึกสันติไมตรี ทำเนียบรัฐบาล นายกรัฐมนตรี เป็นประธานเปิดงานวันต่อต้านการค้ามนุษย์
                                            ประจำปี 2559 <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh">อ่านต่อ</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="assets/img/main/c.jpg" width="100%" alt="">
                                    <div class="carousel-caption">
                                        <p class="text-left">
                                            บ่ายวันนี้ (พ.1 มิ.ย. 59) เวลา 14.30 น. อธิบดีกรมกิจการสตรีและสถาบันครอบครัว
                                            (นายเลิศปัญญา บูรณบัณฑิต) ได้ประชุมหารือการเตรียมการจัดงาน CSR กับบริษัท P&G
                                            <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh">อ่านต่อ</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-arrow">
                                <a data-slide="prev" href="#myCarousel" class="left carousel-control"><i class="fa fa-angle-left"></i></a>
                                <a data-slide="next" href="#myCarousel" class="right carousel-control"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Popular Topics ---->
            <div class="col-md-6 col-sm-12">
                <div class="headline"><h2><span class="glyphicon glyphicon-volume-up"></span> ประกาศ</h2></div>
                <!-- Accordion v1 -->
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                    <span class="glyphicon glyphicon-volume-up"></span> สรุปจัดซื้อจัดจ้างประจำเดือนตุลาคม
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse in">
                            <div class="panel-body">
                                สรุปผลการจัดซื้อจัดจ้างประจำเดือนตุลาคม 2557 - กันยายน 2558
                                วันที่ประกาศ : 6 มิ.ย. 2559...<a href="#">อ่านต่อ</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                    <span class="glyphicon glyphicon-volume-up"></span> ราคากลางงานจ้างจัดงานรณรงค์
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                ราคากลางงานพิมพ์รายงาน...
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                    <span class="glyphicon glyphicon-volume-up"></span>  ประกาศผู้ชนะงานจัดซื้อหมึก
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Three" class="panel-collapse collapse">
                            <div class="panel-body">
                                h nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                    <span class="glyphicon glyphicon-volume-up"></span>   ราคากลางงานจ้างทำวีดิทัศน์เพื่อ
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Four" class="panel-collapse collapse">
                            <div class="panel-body">
                                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-5">
                                    <span class="glyphicon glyphicon-volume-up"></span> ประกาศผู้ชนะงานจัดซื้อหมึก
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-5">
                                    <span class="glyphicon glyphicon-volume-up"></span> ราคากลางงานจ้างทำวีดิทัศน์
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success pull-right full-width" style="border-color:#cf0077; background-color:#cf0077; margin-top:-10px;" type="button"><i class="fa fa-mail-forward"></i> ดูประกาศทั้งหมด</button>
                <!-- End Accordion v1 -->
            </div>
        </div>
    </div>
</div>

    <!----- ข่าวประชาสัมพันธ์ ----->
    <div class="container margin-top-40">
        <div class="row news-v2">
            <div class="shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <div class="headline"><h2><span aria-hidden="true" class="icon-volume-2"></span> ข่าวประชาสัมพันธ์</h2></div>
                    <div class="row margin-bottom-20">
                        <div class="col-md-3 sm-margin-bottom-30">
                            <div class="news-v2-badge">
                                <img class="img-responsive" src="assets/img/main/a.jpg" alt="">
                            </div>
                            <div class="news-v2-desc bg-color-light">
                                <h3><a href="#">พรบ.ความเท่าเทียมระหว่างเพศ</a></h3>
                                <small>วันที่: @DateTime.Now.ToString("yyyy/MM/dd")</small>
                                <p>
                                    หลักเกณฑ์ อัตราค่าใช้จ่าย และแนวทาง การพิจารณางบประมาณรายจ่ายประจำปี...
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh">อ่านต่อ</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 sm-margin-bottom-30">
                            <div class="news-v2-badge">
                                <img class="img-responsive" src="assets/img/main/b.jpg" alt="">
                            </div>
                            <div class="news-v2-desc bg-color-light">
                                <h3><a href="#">ประกาศ สค.</a></h3>
                                <small>วันที่: @DateTime.Now.ToString("yyyy/MM/dd")</small>
                                <p>
                                    เรื่อง รายชื่อผู้ผ่านการเลือกสรรเพื่อจัดจ้างเป็นพนักงานราชการทั่วไป (ส่วนภูมิภาค)...
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh">อ่านต่อ</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 sm-margin-bottom-30">
                            <div class="news-v2-badge">
                                <img class="img-responsive" src="assets/img/main/c.jpg" alt="">
                            </div>
                            <div class="news-v2-desc bg-color-light">
                                <h3><a href="#">ศูนย์ลำปางลงพื้นที่โครงการ </a></h3>
                                <small>วันที่: @DateTime.Now.ToString("yyyy/MM/dd")</small>
                                <p>
                                    "เติมใจสู้ภัยแล้ง ห่างไกลภัยค้ามนุษย์ ประจำปี 2559" ...
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh">อ่านต่อ</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 sm-margin-bottom-30">
                            <div class="news-v2-badge">
                                <img class="img-responsive" src="assets/img/main/d.jpg" alt="">
                            </div>
                            <div class="news-v2-desc bg-color-light">
                                <h3><a href="#">สค. ขยายเวลาการเปิดรับสมัคร</a></h3>
                                <small> วันที่:@DateTime.Now.ToString("yyyy/MM/dd")</small>
                                <p>
                                    สค. ขยายเวลาการเปิดรับสมัครผลงานเข้าประกวดผลงานวิจัยและวิทยานิพนธ์ดีเด่นด้านครอบครัว ประจำปี 2559...
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh">อ่านต่อ</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- clip video -->
    <div class="bg-color" style="background:#f7f7f7;">
        <div class="container content-md margin-bottom-20" style="padding-top:10px;">
            <div class="row">
                <!-- Main Content -->
                <div class="col-md-12">
                    <!-- Tab v4 -->
                    <div class="tab-v4">
                        <!-- Tab Heading -->
                        <div class="headline" style="margin-bottom:-10px;">
                            <h2><span aria-hidden="true" class="icon-social-youtube"></span> คลิปวิดีโอ</h2>
                        </div>
                        <!-- End Latest News -->
                        <!-- Tab Content -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-v4-a1">
                                <div class="row" style="background-color:white;">
                                    <br>
                                    <div class="col-sm-7">
                                        <!-- Blog Grid -->
                                        <div class="blog-grid sm-margin-bottom-40" style="background-color:#000;">
                                            <div class="video-container" id="video-container"></div>
                                            <div style="padding:10px;">
                                                <h3 style="color:white;"><a href="blog_single.html" style="color:white;">กรมกิจการสตรีและสถาบันครอบครัว</a></h3>
                                                <ul class="blog-grid-info">
                                                    <li style="color:white;">By bunchuai</li>
                                                    <li style="color:white;">@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li style="color:white;"><a href="#" style="color:white;"><i class="fa fa-comments"></i>0</a></li>
                                                </ul>
                                                <p style="color:white;">
                                                    วันนี้ (พฤ.9 มิ.ย. 59) เวลา 06.30 น.ณ พระบรมราชานุสาวรีย์ ภายในพระวิหารหลวงวัดสุทัศนเทพวราราม ถนนบำรุงเมือง เขตพระนคร กรุงเทพมหานคร เลขานุการกรม สค. (นางพัทธ์วิรา สุวรรณ) เป็นผู้แทนกรม สค.
                                                </p>
                                            </div>
                                        </div><br>
                                        <!-- End Blog Grid -->
                                    </div>
                                    <div class="col-sm-5">
                                        <!-- Blog Thumb -->
                                        <div class="blog-thumb margin-bottom-20" style="padding:10px; background-color:white;">
                                            <div class="blog-thumb-hover">
                                                <img src="~/assets/img/sk5.jpg" alt="">
                                            </div>
                                            <div class="blog-thumb-desc">
                                                <!--- <a class="cbp-lightbox" data-title="Presentation" href="https://www.youtube.com/watch?v=t-qA18UtdxE&au" data-cbp-lightbox="presentation-video">-->
                                                <a href="javascript:void(0)" onclick="FnPlayVideo('https://www.youtube.com/embed/NtlKH0nJXAk?rel=0&amp;showinfo=0')">
                                                    <span aria-hidden="true" class="icon-social-youtube"></span> ประชาสัมพันธ์ กรมกิจการสตรีและสถาบันครอบครัว กรมกิจการสตรีและสถาบันครอบครัว
                                                </a>
                                                <ul class="blog-thumb-info">
                                                    <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li><a href="#"><i class="fa fa-comments"></i> Admin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end Blog Thumb -->
                                        <!-- Blog Thumb -->
                                        <div class="blog-thumb margin-bottom-20" style="padding:10px; background-color:white;">
                                            <div class="blog-thumb-hover">
                                                <img src="~/assets/img/sk1.jpg" alt="">
                                            </div>
                                            <div class="blog-thumb-desc">
                                                <a href="Javascript:void(0)" onclick="FnPlayVideo('https://www.youtube.com/embed/P37DcLiX5Mg?rel=0&amp;showinfo=0')">
                                                    <span aria-hidden="true" class="icon-social-youtube"></span> วานนี้ (6 ม.ย.59) เวลา 09.00 น. พลเอก ประยุทธ์ จันทร์โอชา ณ ตึกสันติไมตรี ทำเนียบรัฐบาล นายกรัฐมนตรี
                                                </a>
                                                <ul class="blog-thumb-info">
                                                    <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li><a href="#"><i class="fa fa-comments"></i> Admin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end Blog Thumb -->
                                        <!-- Blog Thumb -->
                                        <div class="blog-thumb margin-bottom-20" style="padding:10px; background-color:white;">
                                            <div class="blog-thumb-hover">
                                                <img src="~/assets/img/sk2.jpg" alt="">
                                            </div>
                                            <div class="blog-thumb-desc">
                                                <a href="Javascript:void(0)" onclick="FnPlayVideo('https://www.youtube.com/embed/1S6NGvcM9M0?rel=0&amp;showinfo=0')">
                                                    <span aria-hidden="true" class="icon-social-youtube"></span> กรมกิจการสตรีและสถาบันครอบครัว กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ ขอเชิญชวนนิสิต/นักศึกษา/ช่างภาพสมัครเล่น
                                                </a>
                                                <ul class="blog-thumb-info">
                                                    <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li><a href="#"><i class="fa fa-comments"></i> Admin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end Blog Thumb -->
                                        <!-- Blog Thumb -->
                                        <div class="blog-thumb margin-bottom-20" style="padding:10px; background-color:white;">
                                            <div class="blog-thumb-hover">
                                                <img src="~/assets/img/sk3.jpg" alt="">
                                            </div>
                                            <div class="blog-thumb-desc">
                                                <a href="Javascript:void(0)" onclick="FnPlayVideo('https://www.youtube.com/embed/b_jDY36BFxs?rel=0&amp;showinfo=0')">
                                                    <span aria-hidden="true" class="icon-social-youtube"></span> บ่ายวันนี้ (พ.1 มิ.ย. 59) เวลา 14.30 น. อธิบดีกรมกิจการสตรีและสถาบันครอบครัว (นายเลิศปัญญา บูรณบัณฑิต)
                                                </a>
                                                <ul class="blog-thumb-info">
                                                    <li>@DateTime.Now.ToString("yyyy/MM/dd")</li>
                                                    <li><a href="#"><i class="fa fa-comments"></i> Admin</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end Blog Thumb -->
                                        <a class="btn rounded btn-success" href="@Url.Content("~/Media/media")">
                                            <span aria-hidden="true" class="icon-action-redo"></span> ดูคลิปวิดีโอทั้งหมด
                                        </a>
                                        <br>
                                    </div>
                                </div><!--/end row-->
                            </div>
                        </div>
                        <!-- End Tab Content -->
                    </div>
                    <!-- End Tab v4 -->
                </div>
                <!-- End Main Content -->
            </div>
        </div>
    </div>
    <!-- end  clip video  -->
    <!-- หนังสือน่าอ่าน -->
    <div class="container margin-bottom-40">
        <div class="tab-v4">
            <div class="headline"><h2><span aria-hidden="true" class="icon-book"></span> หนังสือน่าอ่าน</h2></div>
            <div class="cube-portfolio">
                <div id="grid-container" class="cbp-l-grid-agency">
                    <div class="cbp-item">
                        <div class="cbp-caption margin-bottom-20">
                            <div class="cbp-caption-defaultWrap">
                                <img src="~/assets/img/book/book1.png" alt="หนังสือน่าอ่าน">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <ul class="link-captions no-bottom-space">
                                            <li>
                                                <a href="~/assets/img/book/book1.png" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-title-dark">
                            <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว</a></div>
                            <div class="cbp-l-grid-agency-desc">ปีที่ 12 ฉบับที่ 2 มิถุนายน - กันยายน 2558</div>
                        </div>
                    </div>

                    <div class="cbp-item">
                        <div class="cbp-caption margin-bottom-20">
                            <div class="cbp-caption-defaultWrap">
                                <img src="~/assets/img/book/book2.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <ul class="link-captions no-bottom-space">
                                            <li><a href="~/assets/img/book/book2.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-title-dark">
                            <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว</a></div>
                            <div class="cbp-l-grid-agency-desc"> ปีที่ 12 ฉบับที่ 1 มกราคม 2558 - พฤษภาคม 2558</div>
                        </div>
                    </div>

                    <div class="cbp-item">
                        <div class="cbp-caption margin-bottom-20">
                            <div class="cbp-caption-defaultWrap">
                                <img src="~/assets/img/book/book3.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <ul class="link-captions no-bottom-space">
                                            <li><a href="~/assets/img/book/book3.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-title-dark">
                            <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว</a></div>
                            <div class="cbp-l-grid-agency-desc"> ปีที่ 11 ฉบับที่ 2 เมษายน 2557 - กันยายน 2557</div>
                        </div>
                    </div>

                    <div class="cbp-item">
                        <div class="cbp-caption margin-bottom-20">
                            <div class="cbp-caption-defaultWrap">
                                <img src="~/assets/img/book/book1.png" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <ul class="link-captions no-bottom-space">
                                            <li><a href="~/assets/img/book/book1.png" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-title-dark">
                            <div class="cbp-l-grid-agency-title"><a href="" title="">วารสารสตรีและครอบครัว </a></div>
                            <div class="cbp-l-grid-agency-desc">ปีที่ 12 ฉบับที่ 2 มิถุนายน - กันยายน 2558</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------>
    <!---- สำรวจความคิดเห็น ---->
    <div class="container">
        <div class="row margin-bottom-30">
            <div class="col-md-6">
                <!-- Yellow Panel -->
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-signal"></i> สำรวจความคิดเห็น</h3>
                    </div>
                    <div class="panel-body">
                        <h5>ความพึงพอใจในการใช้บริการบนเว็บไซต์กรมกิจการสตรีและสถาบันครอบครัว</h5>
                        <p class="padding-left-40">
                            <input type="radio" name="ratio" value="5"> มากที่สุด <br />
                            <input type="radio" name="ratio" value="4"> มาก <br />
                            <input type="radio" name="ratio" value="3"> ปานกลาง <br />
                            <input type="radio" name="ratio" value="2"> น้อย <br />
                            <input type="radio" name="ratio" value="1"> น้อยที่สุด <br />
                        <p class="margin-bottom-25">
                            <input type="button" class="btn btn-success" value="โหวต">
                        </p>
                        </p>
                    </div>
                </div>
                <!-- End Yellow Panel -->
            </div>
            <div class="col-md-6">
                <!-- Yellow Panel -->
                <div class="panel panel-u">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-align-left"></i> ผลโหวตแบบสำรวจความคิดเห็น</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            80% มากที่สุด
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            60% มาก
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            50% ปานกลาง
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-light" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            40% น้อย
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            30% น้อยที่สุด
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <!-- End Yellow Panel -->
            </div>
        </div>
    </div>
    <!---------------------->
    <!----- Stat ----->
    <div class="container">
        <div class="row margin-bottom-30">
            <!-- Popular Topics ---->
            <div class="col-md-12 col-sm-12">
                <!-- Accordion v1 -->
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#ratio-1">
                                    <span class="glyphicon glyphicon-volume-up"></span> พื้นที่เข้าร่วมโครงการตำบลเข้มแข็ง 76 จังหวัด 1,000 พื้นที่
                                </a>
                            </h4>
                        </div>
                        <div id="ratio-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/assets/img/stat/aria1.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h4>พื้นที่เข้าร่วมโครงการตำบลเข้มแข็ง 76 จังหวัด 1,000 พื้นที่</h4><br>
                                        ที่มา : <a href="http://www.owf.go.th/tumbon/report.htm" target="_blank"> http://www.owf.go.th/tumbon/report.htm </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#ratio-2">
                                    <span class="glyphicon glyphicon-volume-up"></span> การพัฒนามนุษย์ด้านความเสมอภาคหญิงชายในระดับสากล
                                </a>
                            </h4>
                        </div>
                        <div id="ratio-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/assets/img/stat/aria2.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        การพัฒนามนุษย์ด้านความเสมอภาคหญิงชายในระดับสากล
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#ratio-3">
                                    <span class="glyphicon glyphicon-volume-up"></span>  สถานการณ์หญิงชายของประเทศไทย
                                </a>
                            </h4>
                        </div>
                        <div id="ratio-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/assets/img/stat/aria2.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        สถานการณ์หญิงชายของประเทศไทย
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Accordion v1 -->
            </div>
        </div>
    </div>

    <!--- View page ---->
    <div class="container">
        <div class="row margin-bottom-10">
            <div class="col-sm-4 sm-margin-bottom-20">
                <div class="service-block-v3 service-block-u">
                    <i class="icon-users"></i>
                    <span class="service-heading">Overall Visits</span>
                    <span class="counter">52,147</span>
                    <div class="clearfix margin-bottom-10"></div>
                    <div class="row margin-bottom-20">
                        <div class="col-xs-6 service-in">
                            <small>To Day</small>
                            <h4 class="counter">1,385</h4>
                        </div>
                        <div class="col-xs-6 text-right service-in">
                            <small>To Month</small>
                            <h4 class="counter">6,048</h4>
                        </div>
                    </div>
                    <div class="statistics">
                        <h3 class="heading-xs">Statistics in Progress Bar <span class="pull-right">67%</span></h3>
                        <div class="progress progress-u progress-xxs">
                            <div style="width: 67%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" class="progress-bar progress-bar-light">
                            </div>
                        </div>
                        <small>11% less <strong>than last month</strong></small>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="service-block-v3 service-block-blue">
                    <i class="icon-screen-desktop"></i>
                    <span class="service-heading">Overall Page Views</span>
                    <span class="counter">324,056</span>
                    <div class="clearfix margin-bottom-10"></div>
                    <div class="row margin-bottom-20">
                        <div class="col-xs-6 service-in">
                            <small>Last Week</small>
                            <h4 class="counter">26,904</h4>
                        </div>
                        <div class="col-xs-6 text-right service-in">
                            <small>Last Month</small>
                            <h4 class="counter">124,766</h4>
                        </div>
                    </div>
                    <div class="statistics">
                        <h3 class="heading-xs">Statistics in Progress Bar <span class="pull-right">89%</span></h3>
                        <div class="progress progress-u progress-xxs">
                            <div style="width: 89%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="89" role="progressbar" class="progress-bar progress-bar-light">
                            </div>
                        </div>
                        <small>15% higher <strong>than last month</strong></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block-v3 service-block-green">
                    <i class="icon-screen-desktop"></i>
                    <span class="service-heading">Overall Page Views</span>
                    <span class="counter">324,056</span>
                    <div class="clearfix margin-bottom-10"></div>
                    <div class="row margin-bottom-20">
                        <div class="col-xs-6 service-in">
                            <small>Last Week</small>
                            <h4 class="counter">26,904</h4>
                        </div>
                        <div class="col-xs-6 text-right service-in">
                            <small>Last Month</small>
                            <h4 class="counter">124,766</h4>
                        </div>
                    </div>
                    <div class="statistics">
                        <h3 class="heading-xs">Statistics in Progress Bar <span class="pull-right">89%</span></h3>
                        <div class="progress progress-u progress-xxs">
                            <div style="width: 89%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="89" role="progressbar" class="progress-bar progress-bar-light">
                            </div>
                        </div>
                        <small>15% higher <strong>than last month</strong></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript" src="~/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script>
            /* set video player */
            $(document).ready(function () {

                /* default video */
                var video = '<iframe width="653" height="332" src="https://www.youtube.com/embed/t-qA18UtdxE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>';
                $("#video-container").html(video);
            });

            function FnPlayVideo(link) {

                if (link == "") {
                    link = "https://www.youtube.com/embed/t-qA18UtdxE?rel=0&amp;showinfo=0";
                }

                var url = '@Url.Content("Home/AjaxVideo")';
                $.get(url, { "link": link }, function (rs) {
                    $("#video-container").html(rs);
                });
            }

        </script>
    }


