<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@ViewData["Title"]</title>
    <!-- Meta -->
    <base href="@Url.Content("~/")">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="กรมกิจการสตรีและสถาบันครอบครัว">
    <meta name="keywords" content="กรมกิจการสตรีและสถาบันครอบครัว, สค, สตรีและครอบครัว, ครอบครัว, สตรี">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="~/assets/css/footers/footer-v1.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/assets/plugins/image-hover/css/img-hover.css">
    <link rel="stylesheet" href="~/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
    <link rel="stylesheet" href="~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="~/assets/css/pages/profile.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="~/assets/css/pages/shortcode_timeline1.css">
    <link rel="stylesheet" href="~/assets/css/pages/shortcode_timeline2.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/assets/css/theme-colors/color-default.css" id="style_color">
    <link rel="stylesheet" href="~/assets/css/theme-skins/dark.css">
    <link rel="stylesheet" href="~/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <!-- CSS style-switcher -->
    <link rel="stylesheet" href="~/assets/css/plugins/style-switcher.css">
    <link rel="stylesheet" href="~/assets/plugins/master-slider/masterslider/style/masterslider.css">
    <link rel="stylesheet" href="~/assets/plugins/master-slider/masterslider/skins/default/style.css">

</head>
<body>
    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header">
            <div class="container">
                <!-- Topbar -->
                <div class="topbar">
                    <ul class="loginbar pull-right">
                        <li class="hoverSelector">
                            <i class="fa fa-globe"></i>
                            <a>ร้องทุกข์ร้องเรียน</a>
                            <ul class="languages hoverSelectorBlock">
                                <li><a href="#">ร้องทุกข์</a></li>
                                <li><a href="#">ร้องเรียน</a></li>
                                <li><a href="#">สอบถามข้อมูล</a></li>
                            </ul>
                        </li>
                        <li class="topbar-devider"></li>
                        <li class="hoverSelector">
                            <i class="fa fa-globe"></i>
                            <a>ภาษา</a>
                            <ul class="languages hoverSelectorBlock">
                                <li class="active"><a href="#">ไทย<i class="fa fa-check"></i></a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </li>
                        <li class="topbar-devider"></li>
                        <li class="hoverSelector">
                            <i class="fa  fa-font"></i>
                            <a>ตัวอักษร</a>
                            <ul class="languages hoverSelectorBlock">
                                <li class="active"><a href="javascript:void(0)" id="mFontS" style="font-size:16px">ปกติ</a></li>
                                <li><a href="javascript:void(0)" id="mFontM" style="font-size:20px">ใหญ่</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- End Topbar -->
                <!-- Logo -->
                <a class="logo" href="@Url.Content("~/")">
                    <img src="~/assets/img/logo.png" class="logo1 img-responsive" alt="กรมกิจการสตรีและสถาบันครอบครัว" >
                    <img src="~/assets/img/logo2.png" class="logo2 img-responsive" alt="กรมกิจการสตรีและสถาบันครอบครัว">
                </a>
                <!-- End Logo -->
                <!-- Topbar -->
                <i class="style-switcher-btn fa fa-cogs hidden-xs"></i>
                <div class="style-switcher animated fadeInRight" style="display: none;">
                    <div class="style-swticher-header">
                        <div class="style-switcher-heading">Style Switcher</div>
                        <div class="theme-close"><i class="icon-close"></i></div>
                    </div>
                    <!---switcher---->
                    <div class="style-swticher-body">
                        <!-- Theme Colors -->
                        <div class="style-switcher-heading">Theme Colors</div>
                        <ul class="list-unstyled">
                            <li class="theme-default theme-active" data-style="default" data-header="light"></li>
                            <li class="theme-blue" data-style="blue" data-header="light"></li>
                            <li class="theme-orange" data-style="orange" data-header="light"></li>
                            <li class="theme-red" data-style="red" data-header="light"></li>
                            <li class="theme-light" data-style="light" data-header="light"></li>
                            <li class="theme-purple last" data-style="purple" data-header="light"></li>
                            <li class="theme-aqua" data-style="aqua" data-header="light"></li>
                            <li class="theme-brown" data-style="brown" data-header="light"></li>
                            <li class="theme-dark-blue" data-style="dark-blue" data-header="light"></li>
                            <li class="theme-light-green" data-style="light-green" data-header="light"></li>
                            <li class="theme-dark-red" data-style="dark-red" data-header="light"></li>
                            <li class="theme-teal last" data-style="teal" data-header="light"></li>
                        </ul>
                        <!-- Theme Skins -->
                        <div class="style-switcher-heading">Theme Skins</div>
                        <div class="row no-col-space margin-bottom-20 skins-section">
                            <div class="col-xs-6">
                                <button data-skins="default" class="btn-u btn-u-xs btn-u-dark btn-block active-switcher-btn handle-skins-btn">Light</button>
                            </div>
                            <div class="col-xs-6">
                                <button data-skins="dark" class="btn-u btn-u-xs btn-u-dark btn-block skins-btn">Dark</button>
                            </div>
                        </div>
                        <hr>
                        <!-- Layout Styles -->
                        <div class="style-switcher-heading">Layout Styles</div>
                        <div class="row no-col-space margin-bottom-20">
                            <div class="col-xs-6">
                                <a href="javascript:void(0);" class="btn-u btn-u-xs btn-u-dark btn-block active-switcher-btn wide-layout-btn">Wide</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="javascript:void(0);" class="btn-u btn-u-xs btn-u-dark btn-block boxed-layout-btn">Boxed</a>
                            </div>
                        </div>
                        <hr>
                        <!-- Theme Type -->
                        <div class="style-switcher-heading">Theme Types and Versions</div>
                        <div class="row no-col-space margin-bottom-10">
                            <div class="col-xs-6">
                                <a href="E-Commerce/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">Shop UI <small class="dp-block">Template</small></a>
                            </div>
                            <div class="col-xs-6">
                                <a href="One-Pages/Classic/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">One Page <small class="dp-block">Template</small></a>
                            </div>
                        </div>

                        <div class="row no-col-space">
                            <div class="col-xs-6">
                                <a href="Blog-Magazine/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">Blog <small class="dp-block">Template</small></a>
                            </div>
                            <div class="col-xs-6">
                                <a href="RTL/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">RTL <small class="dp-block">Version</small></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!---- End switcher ---->

                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <!-- End Toggle -->
            </div><!--/end container-->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="active">
                            <a href="@Url.Content("~/")">หน้าแรก</a>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                เกี่ยวกับ สค.
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);"> เกี่ยวกับหน่วยงาน</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="About/History"> ประวัติความเป็นมา</a></li>
                                        <li><a href="javascript:void(0);"> วิสัยทัศน์ พันธกิจ</a></li>
                                        <li><a href="javascript:void(0);"> โครงสร้างองค์กร ผู้บริหาร อำราจหน้าที่</a></li>
                                        <li><a href="javascript:void(0);"> ภารกิจและหน้าที่รับผิดชอบของหน่วยงาน</a></li>
                                        <li><a href="javascript:void(0);"> ยุทธศาสตร์และแผนงาน แผนปฏิบัติราชการ</a></li>
                                        <li><a href="javascript:void(0);"> คำรองและรายงานผลการปฏิบัติราชการ</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);"> ทั่วไป</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0);"> จัดซื้อจัดจ้าง</a></li>
                                        <li><a href="javascript:void(0);"> ประกาศราคากลาง สค.</a></li>
                                        <li><a href="javascript:void(0);"> สรุปผลการจัดซื้อจัดจ้าง สค.</a></li>
                                        <li><a href="javascript:void(0);"> สมัครงาน</a></li>
                                        <li><a href="javascript:void(0);"> ทั่วไป</a></li>
                                        <li><a href="javascript:void(0);"> นิติการ</a></li>
                                        <li><a href="javascript:void(0);"> ประกาศราคากลาง</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <!-- ข้อมูล CIO -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                ข้อมูล CIO
                            </a>
                            <ul class="dropdown-menu">
                                <!-- sub ข้อมูล CIO -->
                                <li>
                                    <a href="javascript:void(0);"><i class="fa  fa-share"></i> ผู้บริหารเทคโนโลยีสารสนเทศระดับสูง</a>
                                    <a href="javascript:void(0);"><i class="fa  fa-share"></i> วิสัยทัศน์และนโยบายของผู้บริหารเทคโนโลยีสารสนเทศ</a>
                                    <a href="javascript:void(0);"><i class="fa  fa-share"></i> การบริหารงานด้าน ICT</a>
                                    <a href="javascript:void(0);"><i class="fa  fa-share"></i> ข่าวสารจากผู้บริหารเทคโนโลยีสารสนเทศ</a>
                                    <a href="javascript:void(0);"><i class="fa  fa-share"></i> ปฏิทืนกิจกรรมผู้บริหารเทคโนโลยีสารสนเทศ</a>
                                    <a href="javascript:void(0);"><i class="fa  fa-share"></i> ติดต่อ</a>
                                </li>
                            </ul>
                        </li>
                        <!-- End ข้อมูล CIO -->
                        
                        <!-- Blog -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                ข่าวประชาสัมพันธ์
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right"></i> ข่าว สค.</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right"></i> ข่าวจากสื่อ</a></li>
                            </ul>
                        </li>
                        <!-- End Blog -->
                        <!-- Contact -->
                        <li class="dropdown">
                            <a href="Javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                ติดต่อ สค.
                            </a>
                            <ul class="dropdown-menu">
                                <!-- ติดต่อ สค. -->
                                <li>
                                    <a href="@Url.Content("Contact/center")"><i class="fa  fa-angle-right"></i> ส่วนกลาง</a>
                                    <a href="@Url.Content("Contact/region")"><i class="fa  fa-angle-right"></i> ส่วนภูมิภาค</a>
                                    <a href="@Url.Content("Contact/qa")"><i class="fa  fa-angle-right"></i> ถาม-ตอบ(Q-A)</a>
                                    <a href="@Url.Content("Contact/faq")"><i class="fa  fa-angle-right"></i> คำถามที่พบบ่อย(FAQ)</a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Contact -->
                    </ul>
                </div><!--/end container-->
            </div><!--/navbar-collapse-->
        </div>
        <!--=== End Header ===-->
        <!--- Content --->

        @RenderBody()


        <!--- End Content --->
        <!-- Owl Clients v1 -->
        <div class="container content-sm">
            <div class="headline"><h2>เครือข่าย สค. ภายใน</h2></div>
            <div class="owl-clients-v1">
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo1.jpg" style="border-radius:8px;" alt="" width="100%"></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo2.jpg" style="border-radius:8px;" alt="" width="100%"></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo3.jpg"  style="border-radius:8px;" alt="" width="100%"></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo4.jpg"  style="border-radius:8px;" alt="" width="100%"></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo5.jpg"  style="border-radius:8px;" alt="" width="100%"></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo6.jpg"  style="border-radius:8px;" alt="" width="100%"></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo7.jpg" style="border-radius:8px;" alt="" width="100%"></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo8.jpg" style="border-radius:8px;" alt="" width="100%"></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo9.jpg" style="border-radius:8px;" alt="" width="100%"></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~")"><img src="~/assets/img/clients4/logo10.jpg" style="border-radius:8px;" alt="" width="100%"></a>
                </div>
            </div>
        </div>

        <!--=== Footer Version 1 ===-->
        <!-- Footer -->
        <div class="footer-v1">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- About -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <a href="@Url.Content("~")">
                                <img id="logo-footer" width="85" class="footer-logo" src="~/assets/img/logo-dwf.png" alt="กรมกิจการสตรีและสถาบันครอบครัว">
                            </a>
                            <p>กรมกิจการสตรีและสถาบันครอบครัว ในสังกัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
                        </div>
                        <!--/col-md-3-->
                        <!-- End About -->
                        <!-- Latest -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <div class="posts">
                                <div class="headline"><h2>ข้อมูลใหม่วันนี้</h2></div>
                                <ul class="list-unstyled latest-list">
                                    @{
                                        for (int A = 1; A <= 3; A++)
                                        {
                                            <li>
                                                <a href="#">ข่าวใหม่วันนี้</a>
                                                <small>@DateTime.Now.ToString("yyyy/mm/dd HH:mm:ss")</small>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div><!--/col-md-3-->
                        <!-- End Latest -->
                        <!-- Link List -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <div class="headline"><h2>ข้อมูลอื่นๆ</h2></div>
                            <ul class="list-unstyled link-list">
                                <li><a href="#">เกี่ยวกับ สค.</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">ประวัติความเป็นมา</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">วิสัยทัศน์ พันธกิจหลัก</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">สารจากนายกรัฐมนตรี</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">ภารกิจหน้าที่</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>
                        <!--/col-md-3-->
                        <!-- End Link List -->
                        <!-- Address -->
                        <div class="col-md-3 map-img md-margin-bottom-40">
                            <div class="headline"><h2>ติดต่อ สค.</h2></div>
                            <address class="md-margin-bottom-40">
                                กรมกิจการสตรีและสถาบันครอบครัว (สค.)<br />
                                เลขที่ 255 บริเวณสถานสงเคราะห์เด็กหญิงบ้านราชวิถี<br>
                                ถ.ราชวิถี แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400<br>
                                โทรศัพท์ : 0 2306 8746 โทรสาร : 0 2306 8781<br>
                                Email: <a href="mailto:contact@owf.go.th" class="">contact@owf.go.th</a>
                            </address>
                        </div><!--/col-md-3-->
                        <!-- End Address -->
                    </div>
                </div>
            </div><!--/footer-->
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                @DateTime.Now.Year.ToString() &copy; All Rights Reserved.
                            </p>
                        </div>
                        <!-- Social Links -->
                        <div class="col-md-6">
                            <ul class="footer-socials list-inline">
                                <li>
                                    <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank" rel="nofollow">
                                        <img style="border:0;width:88px;height:31px"
                                             src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                                             alt="Valid CSS!" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank" rel="nofollow">
                                        <img style="border:0;width:88px;height:31px"
                                             src="http://jigsaw.w3.org/css-validator/images/vcss"
                                             alt="Valid CSS!" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/sorkor023068633" target="_blank" class="btn-u btn-u-blue" style="color:white;">
                                        <span aria-hidden="true" class="icon-social-facebook"></span> facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCtVnkCvSxrjYf_BtgQDkLoA" target="_blank" class="btn btn-default">
                                        <span aria-hidden="true" class="icon-social-youtube"></span> 
                                        <span style="color:black;">you</span>
                                        <span style="color:red;">tube</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=== End Footer Version 1 ===-->

    </div><!--/wrapper-->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/fancy-box.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/revolution-slider.js"></script>
    <!--- cude portfolio-->
    <script type="text/javascript" src="~/assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/cube-portfolio/cube-portfolio-4.js"></script>
    <!---------->
    <script type="text/javascript" src="~/assets/js/plugins/style-switcher.js"></script>
    <script src="~/assets/js/plugins/fancy-box.js"></script>
    <script src="~/assets/plugins/master-slider/masterslider/masterslider.min.js"></script>
    <script src="~/assets/plugins/master-slider/masterslider/jquery.easing.min.js"></script>

    <script type="text/javascript" src="~/assets/js/plugins/master-slider-fw.js"></script>
    <script type="text/javascript" src="~/assets/plugins/image-hover/js/modernizr.js"></script>
    <script type="text/javascript" src="~/assets/plugins/image-hover/js/touch.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/plugins/fancy-box.js"></script>
    <script type="text/javascript" src="assets/js/plugins/owl-carousel.js"></script>

    <script type="text/javascript" src="~/assets/js/plugins/style-switcher.js"></script>


    <script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initParallaxBg();
			FancyBox.initFancybox();
			OwlCarousel.initOwlCarousel();
			StyleSwitcher.initStyleSwitcher();
			RevolutionSlider.initRSfullWidth();
			MSfullWidth.initMSfullWidth();
            App.initScrollBar();
		});

          $(document).ready(function () {

              $("#mFontS").click(function () {
                  $("html body").css({ 'font-size': '1.5em' });
              });

              $("#mFontM").click(function () {
                  $("html body").css({ 'font-size': '2.0em' });
              });

              $("#mFontL").click(function () {
                  $("html body").css({ 'font-size': '2.5em' });
              });

          });
          

    </script>  
    <script src="~/assets/plugins/respond.js"></script>
    <script src="~/assets/plugins/html5shiv.js"></script>
    <script src="~/assets/plugins/placeholder-IE-fixes.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>