@{
    ViewData["Title"] = "จัดซื้อจัดจ้าง";
}

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="headline"><h2>@ViewData["title"]</h2></div>
            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/logo-dwf.png">
                </div>
                <div class="col-md-10">
                    <h3>กรมกิจการสตรีและสถาบันครอบครัว</h3>
                    <ul class="list-inline">
                        <li><i class="fa fa-map-marker color-green"></i> @DateTime.Now.ToString("yyyy/mm/dd HH:mm:ss")</li>
                    </ul>
                    <p>ประกาศผู้ชนะงานจัดซื้อหมึกและอุปกรณ์คอมพิวเตอร์ จำนวน 53 รายการ</p>
                    <p><a class="btn-u btn-u-sm btn-u-sea" href="@Url.Content("~/Announce/single_page_purchase/?ID=1&Description=ประกาศผู้ชนะงานจัดซื้อหมึกและอุปกรณ์คอมพิวเตอร์ จำนวน 53 รายการ")"> รายละเอียด +</a></p>
                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/logo-dwf.png">
                </div>
                <div class="col-md-10">
                    <h3>กรมกิจการสตรีและสถาบันครอบครัว</h3>
                    <ul class="list-inline">
                        <li><i class="fa fa-map-marker color-green"></i> @DateTime.Now.ToString("yyyy/mm/dd HH:mm:ss")</li>
                    </ul>
                    <p>ประกาศรายชื่อผู้ไม่มีผลประโยชน์ร่วมกัน (งานจัดซื้อหมึกและอุปกรณ์คอมพิวเตอร์ จำนวน 53 รายการ) วันที่ประกาศ</p>
                    <p><a class="btn-u btn-u-sm btn-u-sea" href="#"> รายละเอียด +</a></p>
                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/logo-dwf.png">
                </div>
                <div class="col-md-10">
                    <h3>กรมกิจการสตรีและสถาบันครอบครัว</h3>
                    <ul class="list-inline">
                        <li><i class="fa fa-map-marker color-green"></i> @DateTime.Now.ToString("yyyy/mm/dd HH:mm:ss")</li>
                    </ul>
                    <p>ประกาศสอบราคาและเอกสารสอบราคาซื้อหมึกและอุปกรณ์คอมพิวเตอร์ จำนวน 53 รายการ</p>
                    <p><a class="btn-u btn-u-sm btn-u-sea" href="#"> รายละเอียด +</a></p>
                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/logo-dwf.png">
                </div>
                <div class="col-md-10">
                    <h3>กรมกิจการสตรีและสถาบันครอบครัว</h3>
                    <ul class="list-inline">
                        <li><i class="fa fa-map-marker color-green"></i> @DateTime.Now.ToString("yyyy/mm/dd HH:mm:ss")</li>
                    </ul>
                    <p>ราคากลางสอบราคาจัดซื้อหมึกและอุปกรณ์คอมพิวเตอร์ จำนวน 53 รายการ</p>
                    <p><a class="btn-u btn-u-sm btn-u-sea" href="#"> รายละเอียด +</a></p>
                </div>
            </div>
            <!-- End Clients Block-->

            <!-- Clients Block-->
            <div class="row clients-page">
                <div class="col-md-2">
                    <img src="~/assets/img/logo-dwf.png">
                </div>
                <div class="col-md-10">
                    <h3>กรมกิจการสตรีและสถาบันครอบครัว</h3>
                    <ul class="list-inline">
                        <li><i class="fa fa-map-marker color-green"></i> @DateTime.Now.ToString("yyyy/mm/dd HH:mm:ss")</li>
                    </ul>
                    <p>ยกเลิกการสอบราคาจ้างดูแลและบำรุงรักษาระบบเว็บไซต์ของ สค.</p>
                    <p><a class="btn-u btn-u-sm btn-u-sea" href="#"> รายละเอียด +</a></p>
                </div>
            </div>
            <!-- End Clients Block-->
            <!-- Pagination -->
            <div class="text-center md-margin-bottom-30">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            <!-- End Pagination -->
        </div><!--/col-md-9-->
    </div><!--/row-->
</div><!--/container-->